.cartoonnetworkspinner {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: solid 1px black;
  width: 200px;
  height: 200px;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
